@font-face {
  font-family: 'Sono';
  font-style: normal;
  font-weight: 500;
  src: url(/static/fonts/Sono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Sono';
  font-style: normal;
  font-weight: 600;
  src: url(/static/fonts/Sono-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Sono';
  font-style: normal;
  font-weight: 700;
  src: url(/static/fonts/Sono-Bold.ttf) format('truetype');
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Sono,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("/static/images/gradient.png");
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
p {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
  font-weight: 600;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/* glass-morphism */
.custom-glass {
  background: hsla(0, 0%, 100%, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid hsla(0, 0%, 100%, 0.2);
}

.custom-glass:hover {
  background: hsla(0, 0%, 100%, 0.7);
  border: 1px solid #fff;
}
:root {
  /*
  for coffee stores
  */
  --text-purple: rgba(67, 56, 202, 1);
  --text-purple-dark: rgba(79, 70, 229, 1);
  --text-black: rgba(17, 24, 39, 1);
  --text-white-100: rgba(229, 231, 235, 1);
 /*
 for netflix
 */
  --black: rgb(0, 0, 0);
  --black10: #181818;
  --black20: rgba(0, 0, 0, 0.6);
  --black30: rgb(17, 24, 39);
  --black40: #141414;
  --black50: rgb(20, 20, 20);

  --gray10: rgb(119, 119, 119);
  --gray20: rgb(156, 163, 175);
  --gray40: rgba(42, 42, 42, 0.6);

  --white10: rgba(255, 255, 255, 1);
  --white20: rgba(243, 244, 246, 1);
  --white30: rgb(209, 213, 219);

  --green10: rgba(110, 231, 183, 1);
  --shadow10: rgba(0, 0, 0, 0.3);
  --shadow20: rgba(158, 155, 155, 0.3);
  --shadow30: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  --red: rgb(220, 38, 38);
  --red10: rgba(185, 28, 28, 1);

  --blue: rgba(75, 85, 99, 1);
  --blue20: rgb(55, 65, 81);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    /* background: black; */
  }
}
